/*VARIABLES*/
$colorPrincipal: rgb(128, 109, 172);
$colorTitulos: indigo;
$colorBotones: rgb(143, 218, 199);
$boxResponsive: 600px;
$boxBorder: 2px solid indigo;
$boxColor: rgb(143, 218, 199);
$boxPadding: 5px;

$red: RED;
$brand_orange: #D49A6A;
$menu_item_orange: #FFD1AA;
$dark_mint: #0D4D4D;
$darkest_mint: #373739;