/*VARIABLES*/
/*RESETEO*/
* {
  text-decoration: none;
  padding: none;
  margin: 0;
  background-color: none;
}

.body {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header {
  background-color: snow;
  color: indigo;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  font-style: bold;
  padding: 20px;
  text-decoration: none;
}

.header .header__logo {
  position: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 20px;
  padding: 15px;
  vertical-align: middle;
  max-width: 150px;
  display: inline;
}

.header .header__logo img.logo_img {
  width: 150px;
}

.header .header__menu {
  color: indigo;
  display: inline flex;
  margin: 20px;
  text-decoration: none;
}

.header .header__menu ul li {
  display: inline;
  margin: 40px;
  padding: 10px;
  background-color: #8fdac7;
}

.header .header__menu ul li:hover {
  background-color: #806dac;
  color: mediumvioletred bold;
}

.contenido {
  position: center;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

section.contenido {
  background-color: #806dac;
  color: powderblue;
  font-size: 25px;
  padding: 15px;
  margin: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section.contenido h2 {
  color: snow;
  font-size: 35px;
  font-family: "amaranth";
  font-text-align: center;
}

section.contenido h3 {
  color: #f3e8f3;
  font-size: 20px;
  font-family: "Amaranth";
  font-align-content: center;
}

section.contenido h3 p {
  font-size: 15px;
}

section.contenido .row {
  padding: 50px 0 50px 0;
  text-align: center;
  font-size: 40px;
}

section.contenido .footer {
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  background-color: #a17cd5;
}

section.contenido .footer p {
  font-size: 14px;
}

/* HTML > TALLES */
.table .table {
  border: 2px solid #9980b6;
  border-radius: none;
  margin-left: 50px;
  padding: 50;
  width: 500px;
  height: 160px;
  font-family: unset;
  text-align: center;
  font-size: 20px;
}

/* CONTACTO: FORMULARIO DE CONTACTO */
.formulario {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  vertical-align: middle;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  gap: 3.6em;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 4em;
  border: 1px solid white;
  border-radius: 0em;
  width: 1000px;
  background-color: snow;
}

.form-group {
  color: #212529;
  background-color: #806dac;
  border: none;
  border-radius: .25rem;
  -webkit-transition: .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */