.header {
    background-color: none;
    color:indigo;
    align-content: center;
    text-align: center;
    font-style: bold;   
    position: relative;
    padding: 20px;
    
    & &__logo {
        position: center; 
        align-content:center;   
        margin: 20px 0;
        padding: 15px;
        vertical-align: middle;
        max-width: 150px;
        display: inline;

        img.logo_img {
        width: 250px;
        }
        }
    
    & &__menu {
        color: indigo;
        display: inline;   
        margin: 20px; 
        font-display: inline;
        ul {
            li {
                    display: inline;
                    margin: 40px;
                    padding: 1.5rem;
                    background-color:mediumturquoise;
                                                                        a:hover {
                        background-color: white;
                        color:mediumvioletred bold;
                         }
                     
                 }
              }
        
          }    
    }

section.contenido {
    background-color:rgb(128, 109, 172);
    color:powderblue;
    font-size: 25px;
    padding: 15px;
    margin: 0px;
    align-items: center;
    text-align: center;

    h2 {
        color:snow;
        font {
            size: 65px;
            family: "amaranth";
        }
    }
    h3 {
        color: rgb(243, 232, 243);
        font {
            size: 40px;
            family: "Amaranth";
        }
    }
    p {
        font-size: 30px;
    }
}

.row {
    padding: 50px 0 50px 0; 
    text-align: center;  
    font-size: 40px;
    
         
}

footer {
    text-align: center;
    color: slateblue;
    background-color: rgb(243, 232, 243);
}



