@import 'variables';

/*CONTENIDO*/

.header {
    background-color: none;
    color:$colorTitulos;
    align-content: center;
    text-align: center;
    font-style: bold;   
    padding: 20px;
    
    & &__logo {
        position: center; 
        align-content:center;   
        margin: 20px;
        padding: 15px;
        vertical-align: middle;
        max-width: 150px;
        display: inline;

        img.logo_img {
        width: 150px;
        }
        }
    
    & &__menu {
        color: $colorTitulos;
        display: inline flex;   
        margin: 20px; 
        
        ul {
            li {
                    display: inline;
                    margin: 40px;
                    padding:$boxPadding*2;
                    background-color:$colorBotones;
                    
                                                                        &:hover {
                        background-color: $colorPrincipal;
                        color:mediumvioletred bold;
                         }
                     
                 }
              }
        
          }    
    }





.contenido {
    position: center;
    max-width: 100%;
    box-sizing: border-box;
    }



section.contenido {
    background-color:$colorPrincipal    ;
    color:powderblue;
    font-size: 25px;
    padding: $boxPadding*3;
    margin: 0px;
    align-items: center;
    text-align: center;

    h2 {
        color:snow;
        font: {
            size: 35px;
            family: "amaranth";
        }
    }
    h3 {
        color: rgb(243, 232, 243);
        font: {
            size: 20px;
            family: "Amaranth";
        }
    }
    p {
        font-size: 15px;
    }
}

.row {
    padding: 50px 0 50px 0; 
    text-align: center;  
    font-size: 40px;         
}

footer {
    text-align: center;
    padding: $boxPadding*2;
    background-color: chartreuse;
    p {
        font-size: 14px;        
    }
    &__bg-light {
        background-color: chartreuse;
    }
} 

/* MIXIN */


/* mixins */
.btn a {
    background-color: hotpink;    
    text-decoration: none;
}
@mixin btn a {
    display: inline flex;
    border: 1px solid #333;
    box-sizing: 50px;
}

.btn--talles {
    @include btn;
    background: red;
}
.btn--frase {
    @include btn;
    background: lightblue;
}

@mixin btn ($col, $bg) {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: $col;
    background: $bg;
}
.btn--compra {
    @include btn (blue, orange);
}

